{
  "singleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": false,
  "trailingComma": "none",
  "semi": false,
  "proseWrap": "always",
  "printWidth": 65,
  "plugins": ["prettier-plugin-svelte"]
}
